.icon-add-user {
  background-image: url(../images/sprite.png);
  background-position: -271px -95px;
  width: 91px;
  height: 92px;
}
.icon-assistance {
  background-image: url(../images/sprite.png);
  background-position: 0px -219px;
  width: 92px;
  height: 93px;
}
.icon-b2b {
  background-image: url(../images/sprite.png);
  background-position: -93px -219px;
  width: 112px;
  height: 92px;
}
.icon-budget-car {
  background-image: url(../images/sprite.png);
  background-position: -271px 0px;
  width: 91px;
  height: 94px;
}
.icon-buy {
  background-image: url(../images/sprite.png);
  background-position: -158px -313px;
  width: 88px;
  height: 74px;
}
.icon-calculations {
  background-image: url(../images/sprite.png);
  background-position: -195px 0px;
  width: 75px;
  height: 101px;
}
.icon-call {
  background-image: url(../images/sprite.png);
  background-position: -77px -313px;
  width: 80px;
  height: 75px;
}
.icon-car {
  background-image: url(../images/sprite.png);
  background-position: -363px -261px;
  width: 57px;
  height: 42px;
}
.icon-chart {
  background-image: url(../images/sprite.png);
  background-position: 0px -390px;
  width: 72px;
  height: 67px;
}
.icon-diamon2 {
  background-image: url(../images/sprite.png);
  background-position: -73px -390px;
  width: 76px;
  height: 65px;
}
.icon-diamond {
  background-image: url(../images/sprite.png);
  background-position: -262px -390px;
  width: 75px;
  height: 63px;
}
.icon-doc {
  background-image: url(../images/sprite.png);
  background-position: -363px -87px;
  width: 78px;
  height: 86px;
}
.icon-fuel {
  background-image: url(../images/sprite.png);
  background-position: -188px -119px;
  width: 70px;
  height: 82px;
}
.icon-garage {
  background-image: url(../images/sprite.png);
  background-position: -363px 0px;
  width: 102px;
  height: 86px;
}
.icon-guardian {
  background-image: url(../images/sprite.png);
  background-position: -247px -313px;
  width: 66px;
  height: 73px;
}
.icon-logistic {
  background-image: url(../images/sprite.png);
  background-position: -83px -119px;
  width: 104px;
  height: 97px;
}
.icon-maintenance {
  background-image: url(../images/sprite.png);
  background-position: 0px -313px;
  width: 76px;
  height: 76px;
}
.icon-partner {
  background-image: url(../images/sprite.png);
  background-position: -150px -390px;
  width: 111px;
  height: 64px;
}
.icon-safe {
  background-image: url(../images/sprite.png);
  background-position: -111px 0px;
  width: 83px;
  height: 113px;
}
.icon-settings {
  background-image: url(../images/sprite.png);
  background-position: -314px -313px;
  width: 79px;
  height: 70px;
}
.icon-stars {
  background-image: url(../images/sprite.png);
  background-position: -466px 0px;
  width: 241px;
  height: 30px;
}
.icon-support {
  background-image: url(../images/sprite.png);
  background-position: -206px -219px;
  width: 97px;
  height: 89px;
}
.icon-sync {
  background-image: url(../images/sprite.png);
  background-position: -338px -390px;
  width: 62px;
  height: 53px;
}
.icon-tire {
  background-image: url(../images/sprite.png);
  background-position: -363px -174px;
  width: 86px;
  height: 86px;
}
.icon-toll {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 110px;
  height: 118px;
}
.icon-track {
  background-image: url(../images/sprite.png);
  background-position: 0px -119px;
  width: 82px;
  height: 99px;
}
.icon-trophy {
  background-image: url(../images/sprite.png);
  background-position: -394px -313px;
  width: 71px;
  height: 64px;
}
