<article>
	<div id="search" class="app-modal">
		<div class="search">
			<form id="form-search" class="form--inline">
				<div class="form-group">
					<input type="text" id="fd-search" name="fd-search" autocompleat="data/produtos.json">
					<label for="fd-search">Busque por produtos, marcas, palavras chaves, etc...</label>
					<span class="bar"></span>
				</div>
			</form>
		</div>
	</div>
</article>