@import "typography", "colors", "spaces";

.bg-cover{
  @include absolute_all();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  & ~ *{
    position: relative;
    z-index: 2;
  }


}