/*----------  Colors Class  ----------*/
$colors: (
  "primary": palette(brand, primary),
  "secondary": palette(brand, secondary),
  "contrast": palette(brand, contrast),
  "accent": palette(brand, accent),
  "hightlight": palette(brand, hightlight),
  "grey-light": #f5f5f5,
);

@each $color-name, $color-code in $colors {
  .text-#{$color-name} {
    color: $color-code; 
  }
  .fill-#{$color-name} {
    fill: $color-code;
  }
  .bg-#{$color-name} { 
    background-color: $color-code;
  }
}