/*----------  Headers  ----------*/
@function getHeadingFontSize($minFontSize, $maxFontSize, $heading) {
  $m: ($minFontSize - $maxFontSize) / (6 - 1);
  $c: $maxFontSize - $m;
  @return $m * $heading + $c;
}

// Font size of headings
@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-size: rem(getHeadingFontSize(14px, 36px, $i));
  }
}

/*----------  Font Sizes  ----------*/
$number: 42;
@for $i from 1 through $number {
  .fz-#{$i} {
    font-size: #{$i}px;
  }
}

/*----------  Font Weight  ----------*/
$font-weight: 300 400 500 600 700 800 900;
@each $size in $font-weight {
  .fw-#{$size} {
    font-weight: #{$size};
  } 
}