<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Botões - Componentes</title>
  <link rel="stylesheet" href="./../../dist/css/basic.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!-- ======================== BEGIN: BUTTONS COMPONENTS ======================== -->
  <section class="section list-buttons">
    <div class="container">
      <h3>Text Buttons</h3>
      <div class="p-b-30">
        <button class="button">Padrão</button>
        <button class="button link">Link</button>
        <button class="button compact">Compact</button>
        <button class="button dense">Dense</button>
        <button class="button contrast">Contrast</button>
        <button class="button">
          <i class="material-icons">alarm</i>
          <span>icon start</span>
        </button>
        <button class="button">
          <span>icon end</span>
          <i class="material-icons">alarm</i>
        </button>
      </div>
      <h3>Flat Buttons</h3>
      <div class="p-b-30">
        <button class="button flat">Padrão</button>
        <button class="button flat compact info">Info</button>
        <button class="button flat dense primary">Primary</button>
        <button class="button flat accent">Accent</button>
        <button class="button flat contrast">Contrast</button>
        <button class="button flat secondary">Secondary</button>
        <button class="button flat highlight">
          <i class="material-icons">alarm</i>
          <span>icon start</span>
        </button>
        <button class="button flat primary-light">
          <span>icon end</span>
          <i class="material-icons">alarm</i>
        </button>
      </div>
      <h3>Outline Buttons</h3>
      <div class="p-b-30">
        <button class="button outlined">Padrão</button>
        <button class="button outlined compact info">Info</button>
        <button class="button outlined primary">Primary</button>
        <button class="button outlined dense accent">Accent</button>
        <button class="button outlined contrast">Contrast</button>
        <button class="button outlined secondary">Secondary</button>
        <button class="button outlined highlight">
          <i class="material-icons">alarm</i>
          <span>icon start</span>
        </button>
        <button class="button outlined primary-light">
          <span>icon end</span>
          <i class="material-icons">alarm</i>
        </button>
      </div>

      <h3>Sizes Buttons</h3>
      <div class="p-b-30">
        <button class="button flat mini">Mini</button>
        <button class="button flat tiny">Tiny</button>
        <button class="button flat small">Small</button>
        <button class="button flat medium">Medium</button>
        <button class="button flat large">Large</button>
        <button class="button flat big">Big</button>
        <button class="button flat massive">Massive</button>
      </div>

      <h3>Colors Buttons</h3>
      <div class="p-b-30">
        <button class="button outlined">Padrão</button>
        <button class="button outlined primary">Primary</button>
        <button class="button outlined light">Light</button>
        <button class="button outlined secondary">Secondary</button>
        <button class="button outlined contrast">Contrast</button>
        <button class="button outlined accent">Accent</button>
        <button class="button outlined highlight">Hightlight</button>
        <button class="button outlined success">Success</button>
        <button class="button outlined danger">Danger</button>
        <button class="button outlined info">Info</button>
        <button class="button outlined warning">Warning</button>
        <button class="button outlined facebook">Facebook</button>
        <button class="button outlined twitter">Twitter</button>
        <button class="button outlined whatsapp">WhatsApp</button>
      </div>

      <div class="section bg-primary text-center p-l-20 p-r-20 m-b-30">
          <button class="button white">White</button>
          <button class="button outlined white">White</button>
          <button class="button outlined white shadow">White Shadow</button>
          <button class="button flat white">White</button>
          <button class="button flat white shadow">White Shadow</button>
      </div>

      <h3>Helpers Buttons</h3>
      <div class="p-b-30">
        <button class="button flat rounded">Rounded</button>
        <button class="button flat square">Square</button>
        <button class="button flat uppercase">Uppercase</button>
        <button class="button flat lowercase">Lowercase</button>
        <button class="button flat dash primary">
          <span>Dash</span>
          <i class="icon-arrow-right"></i>
        </button>
        <button class="button outlined dash primary">
          <span>Dash</span>
          <i class="icon-arrow-right"></i>
        </button>
        <button class="button outlined left primary">
          <span>Align left</span>
          <i class="icon-arrow-right"></i>
        </button>
        <button class="button flat contrast loading">Loading</button>
        <button class="button flat primary loading">Loading</button>
        <button class="button outlined primary loading">Loading</button>
        <button class="button flat" disabled>Disabled</button>
      </div>

      <h3>Icons Buttons</h3>
      <div class="p-b-30">
        <button class="button icon"><i class="icon-store"></i></button>
        <button class="button icon flat"><i class="icon-store"></i></button>
        <button class="button icon flat shadow"><i class="icon-store"></i></button>
        <button class="button icon outlined"><i class="icon-store"></i></button>
        <button class="button icon circle"><i class="icon-store"></i></button>
        <button class="button icon circle flat"><i class="icon-store"></i></button>
        <button class="button icon circle flat shadow"><i class="icon-store"></i></button>
        <button class="button icon circle outlined"><i class="icon-store"></i></button>
      </div>

      <h3>Shadow Buttons</h3>
      <div class="p-b-30">
        <button class="button icon circle flat shadow"><i class="icon-store"></i></button>
        <button class="button icon circle flat shadow-2x"><i class="icon-store"></i></button>
        <button class="button flat shadow">Shadow</button>
        <button class="button flat shadow-2x">Shadow 2x</button>
      </div>

    </div>
  </section>
  <!-- ========================= END: BUTTONS COMPONENTS ========================= -->




  <!-- ======================= STYLES ======================= -->
  <link rel="stylesheet" href="./../../dist/css/vendors.css">
  <link rel="stylesheet" href="./../../dist/css/components.css">
  <link rel="stylesheet" href="./../../dist/css/modules.css">
  <link rel="stylesheet" href="./../../dist/css/style.css">

  <!-- ======================= FONTS ======================= -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900" rel="stylesheet">

  <!-- ======================= SCRIPTS ======================= -->
  <script src="./../../dist/public/jquery.min.js"></script>
  <script src="./../../dist/js/vendors.js"></script>
  <script src="./../../dist/js/components.js"></script>
  <script src="./../../dist/js/modules.js"></script>
  <script src="./../../dist/js/main.js"></script>

</body>
</html>
