<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=10">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="robots" content="index,follow" />

<!-- ========= BEGIN: SEO ========= -->
<title>Template HTML</title>
<meta name="description" content="Descrição da página" />
  <!-- Open Graph Protocol Meta -->
  <meta property='og:site_name' value='Nome do Site'/>
  <!-- END Open Graph Protocol Meta -->

  <!-- BEGIN Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="Usuário do twitter ex: @ericsoncardoso" />
  <!-- END Twitter -->
<!-- ========== END: SEO ========== -->

<link rel="shortcut icon" href="/assets/images/favicon.ico" />

<!--==================== BEGIN: Styles ====================-->
<style>
  @@include(markdown('./../../dist/assets/css/basic.min.css'))
</style>
<link rel="stylesheet" href="assets/css/style.min.css">
<!--==================== END: Styles ====================-->

<link type=stylesheet src=@@webRoot/css/style.css>