address, .text-light{
  font-size: 14px;
  line-height: 30px;
  color: palette(text, light);
  font-style: normal;
  margin-bottom: 5px;
}

.address-reference{
  display: flex;
  align-items: center;
  color: palette(text, blue);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;

  *:first-child {
    margin-right: 10px;
  }
}

article{
  font-size: 14px;
  line-height: 36px;

  p{
    margin-bottom: 25px;
  }



}

