//- CSS
case env
  when "dev"
    link(href="/css/vendors.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
  when "stage"
  when "prod"
    link(href="/css/all.min.css", rel="stylesheet")

//- JavaScript
case env
  when "dev"
    script(src="/public/jquery.min.js")
    script(src="/js/vendors.min.js")
    script(src="/js/main.js")
  when "stage"
  when "prod"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    script(src="/js/all.min.js")

//- Symbol-links
div(style="display:none;")
  //- include ./../../symbols/symbols.svg
