.block-links-social {
	display: table;
	margin: 0 auto;
	padding: {
		top: 55px;
		bottom: 137px;
	}
}

@media (max-width: 1020px) {
	.block-links-social {
		text-align: center;
		padding: {
			top: 40.5px;
			bottom: 67px;
		}
	}
}