extends /extends/layout
include /mixins/sample

block variables
  - var title = "Starter Kit";
  - var description = "Starter Kit";

block content
  main 
    h1 Starter Kit para Interfaces otimizadas 3 
    +sample("Exemplo de aplicação de class com pug")(class="c-sample--modifier")
