block header  
  header(id="header")
    div(class="container")
      div(class="row")
        div(class="col-auto")
          img(src="assets/images/logo.svg")(alt="Unidas")
        div(class="col")
          nav(class="nav nav--right")
            ul
              li: a(href="structure.html" data-nav="structure") Estrutura
              li: a(href="colors.html" data-nav="colors") Cores
              li: a(href="media.html" data-nav="media") Mídia 
              li: a(href="content.html" data-nav="content") Conteúdo
              li: a(href="static-components.html" data-nav="") Estáticos 
              li: a(href="dynamic-components.html" data-nav="") Dinâmicos
              li: a(href="forms.html" data-nav="") Formulários