.overlay{
	position: fixed;
	top: 0; 
	left: 110%;
	width: 100%;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: #FFF;
	z-index: 100;
	opacity: 0;
	transform: scale(0.4);
	transition: opacity 0.8s, transform .8s, left 0s 0.8s; 
 

	&.active{
		left: 0;  
		transform: scale(1);
		opacity: 1;
		transition: opacity 0.5s, transform .9s, left 0s 0s; 
	}

} 

@import 'focus-blur';