b, strong{
  font-weight: bold;
}

address, .text-light{
  font-size: 14px;
  line-height: 30px;
  color: palette(text, light);
  font-style: normal;
  margin-bottom: 5px;
}

.address-reference{
  display: flex;
  align-items: center;
  color: palette(text, blue);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;

  *:first-child {
    margin-right: 10px;
  }
}

.p{
  margin-bottom: 25px;
  line-height: 1.5;
  font-size: 18px;
}

article{
  color: palette(brand, primary);

  p{
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: em(17);
  }

  /*----------  Headers  ----------*/
  h1, h2, h3, h4, h5, h6{
    b, strong{
      font-weight: bold;
    }
  }

  h2{
    font-weight: 300;
    font-size: em(34);
    line-height: 1.3;
    margin: 0 0 38px;
  }

  h3, h4{
    font-weight: 300;
    font-size: em(30);
    line-height: 1.3;
    margin: 0 0 20px;
  }


  /*----------  Customs  ----------*/
  .content-small, &.content-small{
    max-width: 430px;
  }

  @include max-screen($tablet) {
    br{display: none;}
  }


}


.section{
  > .title, .container > .title{
    font-weight: 200;
    font-size: em(40);
    line-height: 1.3;
    margin-bottom: 25px;
    color: palette(brand, secondary);

    small{
      font-size: 24px;
      display: block;
    }

    @include min-screen(992px) {
      font-size: em(56);
    }
  }
}