<div id="menu-mobile" class="overlay">
	<div class="close"><span>Fechar</span> <i class="material-icons">close</i></div>
	<div class="overlay__body"> 
		<nav class="nav--vertical nav--center">
			@@include('./../header/_nav-main')
		</nav>
		<nav>
			<a href="/portal-do-gestor.html" class="button block primary curet large e-bd-b" title="Portal do Gestor">Portal do Gestor</a>
			<a href="/portal-do-usuario.html" class="button block secondary curet large e-bd-b" title="Portal do usuário">Portal do Usuário</a>
			<a href="/seja-cliente.html" class="button block contrast curet large e-bd-b" title="Seja Nosso Cliente">Seja nosso cliente</a> 

			<span class="circle">ou</span>

			<a href="tel:08007750115" class="link-feature" title="Telefone para contato Unidas"><i class="material-icons">perm_phone_msg</i> 0800 7750 115</a>
		</nav>
	</div>
</div>