<nav class="nav nav--right">
	<ul>  
		<li class="nav__item">
			<div class="animated toggle fade button icon" data-toggle="app" data-target="#login">
			  <div class="content--visible">
			  	<div><svg class="svg svg-user"><use xlink:href="#svg-user"></use></svg></div>
			  </div> 
			  <div class="content--hidden">
			    <div><svg class="svg svg-close"><use xlink:href="#svg-close"></use></svg></div>
			  </div>
			</div>
		</li>
		<li class="nav__item">
			<div class="animated toggle fade button icon" data-toggle="app" data-target="#wishlist">
			  <div class="content--visible">
			  	<div><svg class="svg svg-heart"><use xlink:href="#svg-heart"></use></svg></div>
			  </div>  
			  <div class="content--hidden">
			    <div><svg class="svg svg-close"><use xlink:href="#svg-close"></use></svg></div>
			  </div>
			</div>
		</li>
		<li class="nav__item">
			<div class="button icon" data-toggle="app" data-target="#mini-cart">
			  <svg class="svg svg-bag"><use xlink:href="#svg-bag"></use></svg>
			  <span class="badge badge--danger">4</span>
			</div>
		</li>
	</ul>

</nav>